@import '../../../styles/variables';

.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    padding: 32px 55px;
    // max-width: 1440px;
    max-width: 100%;
    
    img{
        width: 100px;
        height: 25.13px;
        top: 32px;
        left: 55px;
        
    }


    &__vertical-line{

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 210px; 
            width: 1px; 
            height: 5600px;
            background-color: #E1E1E1; 
            transform: translateX(-50%);
          }
    }

    &__hamburger {
        display: none;
        font-size: 24px; 
        cursor: pointer;
        color: $dark-grey;
    
    }
    
    &__nav{
        left: 280px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        // width: 1105px;
        width: 75%;
       
        &__navbar{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            gap: 44px;
            a{
                font-size: $txt-small-size;
                font-weight: $bold;
                color: $dark-grey;

                &:hover{
                    color: $btn-color;
                }
            }
        }
        
        
        &__right{
            color: $dark-grey;
            display: inline-flex;
            gap: 44px;
            justify-content: space-between;
    
            &__button-text{
                font-size: $txt-small-size;
                font-weight: $medium;
                margin: auto;
                display: flex;
                gap: 8px;
                cursor: pointer;
                align-items: center;
                color: $dark-grey;
                img{
                    width: 19px;
                    height: 19px;
                }
            }
            &__button{
                font-size: $txt-btn-size;
                border: 1.5px solid $btn-color;
                font-weight: $medium;
                cursor: pointer;
                border-radius: 5px;
                padding: 8px 24px;
                color: $dark-grey;
                &:hover{
                    color: $btn-color;
                }
            }
        }
    }

    .nav-btn{
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        visibility: hidden;
        opacity: 0;
    }
    
}


@media screen and (max-width: 992px){
    .header{
        &__nav{
            &__right{
                gap: 16px;
                
            }
        }
    }
}

@media screen and (max-width: 870px){
    .header {
        &__hamburger {
          display: block;
        }
    
        &__vertical-line {
          display: none;
        }
    
        &__nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 80px;
            left: -110%;
            opacity: 1;
            padding: 20px 0;
            
            &.active{
                left: 0px;
                background: $white;
                transition: all 0.5s ease;
                z-index: 1;
                gap: 20px;
                
                
            }
            &__navbar{
                display: flex;
                gap: 20px;
                flex-direction: column;
            }
            &__right{
                display: flex;
                flex-direction: column;
                gap: 20px;
                &__button{
                    width: 120px;
                    margin: auto;
                    text-align: center;
                }
            }
            
        }
        
    }
}

