@import '../../../styles/variables';

.main{
    margin: 20px;
    &__cards{
        display: flex;
        align-items: flex-start;
        gap: 24px;

        &__card{
            border-radius: 10px;
            background: $black;
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;
            align-self: stretch;
        }
    }
}