@import "./variables";
@import "./reset";

html{
    overflow-x: hidden;
}

body{
    font-family: $font-family-base;
    background-color: $background-color;
}

.section{
    padding: 10rem 5rem 5rem 17.5rem;
}

.button-base{
    font-size: $txt-btn-size;
    font-weight: $medium;
    cursor: pointer;
    background: $btn-color;
    width: 145px;
    height: 45px;
    text-align: center;
    letter-spacing: 0em;
    outline: none;
    border: none;
    color: $white;
    a{
        line-height: 17px;
        color: $white;
        position: relative;
        top: 2px;
    }
}
