@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

// fonts
$font-family-base: 'Inter', sans-serif;

// colors
$background-color: #FBFBFB;
$main-text-color: #6A6A6A;
$white: #FFFFFF; 
$black: #000000;
$btn-color: #0052B4;
$dark-grey: #303031;
$dark-grey-second: #35384D;
$main-title-color: #00367A;
$light-grey: #9DA8B6;
$light-grey-second: #E1E1E1;
$light-grey-third: #CDCDCD;
$orange: #FF7616;




// text size
$title-big-size: 60px;
$title-medium-size: 48px;
$title-small-size: 20px;
$txt-small-size: 13px;
$txt-medium-size: 16px;
$txt-big-size: 20px;
$txt-btn-size: 14px;


// font weight
$extra-bold-black: 900;
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
