@import '../../styles/variables';

.achievements-container{
    display: grid;
    width: 60%;
    gap: 40px;
    margin-bottom: 6rem;

    .title{
        font-size: $title-medium-size;
        font-weight: $bold;
        line-height: 56px;
        color: $main-title-color;
    }

    .text{
        font-size: $txt-medium-size;
        font-weight: $regular;
        line-height: 24px;
        color: $main-text-color;
    }
}

.ach-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 24px;

    .box{
        display: flex;
        gap: 8px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #0000002E;
        background-color: $white;
        padding: 44px 24px 44px 24px;
        .icon{
            border: 1px solid #F0F0F0;
            border-radius: 50%;
            background-color: #FBFBFB;
            width: 50px;
            height: 50px;
            position: relative;
            top: -70px;
            img{
                position: relative;
                display: flex;
                margin: 10px;
            }
        }

        .content{
            position: absolute;
            .number{
                font-size: $number-size;
                line-height: 30.26px;
                color: $main-title-color;
                font-weight: $extra-bold-black;
                padding-bottom: 6px;
            }
            .text{
                font-size: $txt-medium-size;
                font-weight: $regular;
                line-height: 28.02px;
                color: $light-grey;
            }
        }
    }
}