@import '../../styles/variables';


.contact{

    .title{
        font-size: $title-medium-size;
        font-weight: $extra-bold-black;
        line-height: 56px;
        color: $main-title-color;
        margin-bottom: 1rem;
    }

    .contact-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
        justify-content: space-between;

        .form-container{
            max-width: 430px;

            .contact-form{
                position: relative;

                .contact-box{
                    position: relative;
                    width: 100%;
                    height: 38px;
                    margin: 2rem 0;
                    border-bottom: 1px solid $light-grey;

                    .contact-label{
                        position: absolute;
                        top: -10px;
                        font-size: 10px;
                        line-height: 16px;
                        font-weight: $medium;
                        color: $btn-color;
                        padding-bottom: -5px;
                    }

                    #message{
                        font-family: $font-family-base;
                        padding-top: 10px;
                    }

                    .contact-input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        font-size: $txt-medium-size;
                        outline: none;
                        border: 0;

                        &:focus{
                            border-bottom: 1.5px solid $btn-color;
                        }
                    }

                    textarea{
                        resize: none;
                    }

                    &.verification{
                        border: none;
                        display: flex;
                        gap: 11px;
                        align-items: center;
                        padding-top: 12px;

                        label{
                            cursor: pointer;
                        }
                        #robotCheckbox{
                            display: none;
                        }

                        .checkmark{
                            width: 24px;
                            height: 24px;
                            border: 1px solid $btn-color;
                            border-radius: 5px;
                            background: $white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .icon{
                                width: 10px;
                                color: $btn-color;
                                transition: .2s;
                                display: none;
                            }
                            
                        }

                        #robotCheckbox:checked ~ .checkmark .icon {
                            display: block;
                        }
            
                        .verifi{
                            font-size: 15px;
                            font-weight: $regular;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #303031BF;
                        }
                    }
                }

                .textarea{
                    height: 10rem;
                }

                

                .button-base{
                    width: 225px;
                    &:hover{
                        color: $dark-grey;
                    }
                }
            }

        }

    }
    .map-container{
        iframe{
            width: 100%;
            height: 100%;
        }
    }

}


@media screen and (max-width: 768px) {
    .contact {
        .contact-container {
            .form-container {
                max-width: 100%; 
            }
        }
    }
        
}