@import '../../styles/variables';

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    padding: 1rem 1.5rem;
    width: 100%;
    img{
        width: 100px;
        height: 25.13px;
        top: 32px;
        left: 55px;
        
    }

    .navbar{
        display: flex;
        gap: 44px;
        left: -280px;
        position: absolute;
        &::before{
            content: '';
            width: 500px;
            left: 210px;
            position: relative;
            height: 1px;
            display: block;
            background-color: black;
            transform: rotate(90deg);
            background: #E1E1E1;

        }


        a{
            font-size: $txt-small-size;
            font-weight: $bold;
            color: $dark-grey;
        }
    }
    .buttons{
        color: $dark-grey;
        display: flex;
        gap: 44px;

        .button-text{
            font-size: $txt-small-size;
            font-weight: $medium;
            margin: auto;
            display: flex;
            gap: 8px;
            cursor: pointer;
            img{
                width: 19px;
                height: 19px;
            }
        }
        .button{
            font-size: $txt-btn-size;
            border: 1.5px solid $btn-color;
            font-weight: $medium;
            cursor: pointer;
            border-radius: 5px;
            padding: 8px 24px;
        }
    }
}