@import '../../styles/variables';

.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    padding: 32px 55px;
    // max-width: 1440px;
    max-width: 100%;
    
    img{
        width: 100px;
        height: 25.13px;
        top: 32px;
        left: 55px;
        
    }


    .vertical-line{

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 210px; 
            width: 1px; 
            height: 5352px;
            background-color: #E1E1E1; 
            transform: translateX(-50%);
          }
    }
    
    .nav{
        left: 280px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        // width: 1105px;
        width: 75%;
       
        .navbar{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            gap: 44px;
            a{
                font-size: $txt-small-size;
                font-weight: $bold;
                color: $dark-grey;
            }
        }
        
        
        .right{
            color: $dark-grey;
            display: inline-flex;
            gap: 44px;
            justify-content: space-between;
    
            .button-text{
                font-size: $txt-small-size;
                font-weight: $medium;
                margin: auto;
                display: flex;
                gap: 8px;
                cursor: pointer;
                img{
                    width: 19px;
                    height: 19px;
                }
            }
            .button{
                font-size: $txt-btn-size;
                border: 1.5px solid $btn-color;
                font-weight: $medium;
                cursor: pointer;
                border-radius: 5px;
                padding: 8px 24px;
            }
        }
    }
    
}