@import '../../../styles/variables';

.sidebar{
    width: 69px;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo{
        position: absolute;
        top: 19px;
        text-align: center;
        width: 66px;
        height: 44px;
        border-bottom: 1px solid $light-grey-fourth;
        img{
            width: 15.18px;
            height: 25.13px;
        }
        
    }

    &__menu{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 67px;

        &__list{
            list-style: none;
            margin: 20px 0;
            position: relative;

            &__icon{
                width: 20px;
                height: 20px;
                color: $icon;

                &--active{
                    width: 20px;
                    height: 20px;
                    color: $white;
                }

                &:hover{
                    color: $white;
                }

            }
            &--active{
                list-style: none;
                margin: 20px 0;
                position: relative;
                background-color: $orange;
                padding: 10px 12px;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 0px #FF761640;
        
            }

            &:hover{
                background-color: $orange;
                padding: 10px 12px;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 0px #FF761640;
            }
            

        }
        
    
    }
}