@import '../../../styles/variables';
@import '../../../styles/mixins';

.about-container{
    display: grid;
    width: 60%;
    gap: 40px;
    margin-bottom: 4rem;

    &__title{
        @include title;
    }

    &__text{
        @include text;
    }
}

.box-container{

    &__box{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        min-height: 50vh;
        margin: 1rem 0;
        justify-content: space-between;

        &:nth-child(even){
            flex-flow: row-reverse wrap;
        }

        &__image{
            flex: 0 0 300px;

            img{
                width: 300px;
            }
        }

        &:nth-child(odd) &__image {
            display: flex;
            justify-content: flex-end;
        }
        

        &__content{
            flex: 0 0 426px;
            gap: 16px;
            display: grid;

            &__title{
                font-size: $title-small-size;
                font-weight: $bold;
                line-height: 28px;
                letter-spacing: 0em;
                color: $main-title-color;
            }

            &__paragraph{
                font-size: $txt-medium-size;
                font-weight: $regular;
                line-height: 28px;
                letter-spacing: 0em;
                color: $main-text-color;

                &--mid{
                    font-size: $txt-small-size;
                    line-height: 20px;
                    color: $main-text-color;
                }
            }

            
        }

    }
}

@media screen and (max-width: 1124px){
    .box-container{

        &__box{
            &:nth-child(even){
                flex-flow: wrap;
            }
        }
    }
      
}


@media screen and (max-width: 992px){
    .about-container{
        width: 100%;
    } 
}
 

@media screen and (max-width: 768px){
    .box-container{
        &__box{
            display: grid;
            &__image{
                display: flex;
                justify-content: center;
                img{
                    width: 70%;
                }
            }
            &:nth-child(odd) &__image {
                display: flex;
                justify-content: center;
            }
        }
    }
}
